body {
  background-color: #CCCCCC;
}


/* HEADER */
.title {
  text-align: center;
  font-size: 35px;
  padding: 20px;
}

/* FOOTER */
footer {
  background-color: #333333;
}

.end-page {
  text-align: center;
  padding: 20px;
  height: 50px;
  color: white;
  height: auto;
}